
body{
  margin:0px;
}
.part-0{
  height: 1300px;
}
.part-1{
    background-color: rgb(9, 9, 14);
    height: 450px;
    text-align: center;
}
h1{
    margin-top: 0px;
    color: white;
    font-family:Caveat;
    font-size: 4rem;
}
img{
  width:18%;
  height: 50%;
}

.part-2{
    height: 350px;
    background-color: skyblue;
}
.about-me{
  font-family:sans-serif;
  padding-top: 70px;
  font-size: 2rem;
}
.part-3{
  background-color: rgb(9,9,14);
  height: 250px;
}
.know-more{
  margin-top:0px;
  padding-top: 50px;
  font-size:2rem;
  color: white;
}

button{
  background-color: white;
  border: none;
  color: black;
  padding: 10px 22px;
  text-align: center;
  border-radius: 12px;
}
button:hover{
  background-color: white;
  transform: scale(1.1);
}
.part-4{
  margin-top: 0px;
  background-color: skyblue;
  height: 350px;
}
.contact{
  padding-top: 50px;
  font-size:2rem;
  font-family:sans-serif;
  color: black;
  margin-top: 0px;
}
.fa-instagram {

  color: red;
}
.fa-whatsapp{
  color: green;
}
.fa-twitter{
  color: darkblue;
}
.fa-facebook{
  color: darkblue;
}
.fa-linkedin{
  color: darkblue;
}
